.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 30px auto;
}
ul.items {
  list-style-type: none;
  padding: 0;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 0 auto;
}
.item {
  position: relative;
}
.delete {
  position: absolute;
  top: 20px;
  right: 2%;
  cursor: pointer;
  display: none;
}
.item:hover .delete {
  display: block;
}
.emptyList {
}
.link {
}
