.writer {
  display: flex;
  align-items: center;
}
.writer .info {
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.writer .name {
  font-size: 14px;
  font-weight: 500;
  color: #494949;
}
.writer .level {
  font-size: 12px;
  font-weight: 500;
  color: #c4c4c4;
}
