* {
  box-sizing: border-box;
}
html {
  width: 100%;
  min-height: 100vh;
  position: relative;
  word-break: keep-all;
}
:root {
  --box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.05);
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.nav {
  border-bottom: 2px solid #e4e4e4;
}

.footer {
  width: 100%;
  padding: 48px 180px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  background-color: #56ca5a;
}
